@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    background-color: black;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    align-content: center;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins';
    text-align: center;
}

    .header {
        text-align: center;
        padding-top: 10px;
        text-align: center;
    }

    .alinhar-conteudo {
        display: inline-flex;
    }

    .conteudomain {
        padding-top: 10px;
        color: white !important;
        font-family: 'Poppins';
        text-align: center;
    }
    
    .imagemain {
        -webkit-mask-image: linear-gradient(to right, transparent 38%, black 100%);
    }
    
    .conteudomain p {
    text-align: left;
    position: absolute;
    margin-top: 6rem;
    font-weight: 600;
    width: 10rem;
    font-size: 7rem;
    }
    
    .textomain2 {
    margin-top: 4rem;
    font-size: 2rem;
    font-family: 'Poppins';
    }
    
    .form-inscricao {
        display: block;
        color: #fbe179;
        margin-top: 8rem;
        font-family: 'Poppins';
    }

    .formulario {
        margin-top: 5rem;
    }

    .input-texto-form {
        margin-top: 3rem;
    }
    
    .input-texto-form input {
        height: 3rem;
        width: 40rem;
        padding-left: 10px;
        border: 1px solid black;
        margin-top: .1rem;
        font-family: 'Poppins';
        font-size: 1.2rem;
    }

    .input-texto-form select {
        height: 3rem;
        width: 40rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
        font-size: 1.2rem;
    }
    
    .input p {
        width: 9rem !important;
    }
    
    .input-textolargo p {
        width: 17rem;
    }
    
    .input-textolargo input {
        height: 2.3rem;
        width: 19rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    .input-texto-sobrenome input {
        height: 2.3rem;
        width: 19rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    .input-texto-sobrenome p {
        width: 12rem !important;
    }
    
    .input-textolargo select {
        height: 2.3rem;
        width: 20rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    
    .Button a {
        text-decoration: none;
        color: white;
    }
    
    .Button button {
        background-color: #fe5089;
        height: 3.5rem;
        width: 12rem;
        border-radius: 1rem;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        margin-top: 45px;
        margin-bottom: 20px;
        border: none;
        cursor: pointer;
    }

    /* >>>>>tudo abaixo é do ConteudoRound6<<<<< */
    

    .conteudo-imagem-texto-round-6{
        display: flex;
        place-content: center;
    }

    .conteudo-evento-round-6 {
        text-align: center;
    }

    .texto-conteudo-round-6 {
        font-size: 25px;
        margin-top: 5rem;
    }

    .imagens-round-6 {
        margin: 0 2rem 0 2rem;
    }
    
    .imagens-round-6 Image {
        margin-bottom: 10px;
    }
    
    .texto-banner {
        text-align: left;
        position: absolute;
        margin-top: 1.5rem;
        margin-left: 2rem;
        font-weight: 600;
        font-size: 7rem;
    }
    
    .texto-conteudo-round-6 {
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-size: 35px;
    }
    
    .background-color-round-6 {
        background: linear-gradient(to bottom, transparent 10%, #ff417d 100%,  transparent 10%);
    }
    
    .background-limpo {
        background: linear-gradient(to top, transparent 10%, #ff417d 90%);
        height: 90px;
        width: 100%;
        margin-top: -1.1rem;
    
    }

    .conteudo-ohana {
        text-align: center;
    }
    
    .texto-ohana {
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .ohanavisao {
        margin-bottom: 4rem;
    }


@media only screen and (max-width: 900px) {

    .header {
        text-align: center;
        padding-top: 10px;
        text-align: center;
    }

    .alinhar-conteudo {
        display: inline-flex;
    }

    .conteudomain {
        padding-top: 10px;
        color: white !important;
        font-family: 'Poppins';
        text-align: center;
    }
    
    .imagemain {
        -webkit-mask-image: linear-gradient(to right, transparent 38%, black 100%);
    }
    
    .conteudomain p {
    text-align: left;
    position: absolute;
    margin-top: 4rem;
    font-weight: 600;
    width: 10rem;
    font-size: 5rem;
    margin-left: 3rem;
}
    
    .textomain2 {
    margin-top: 4rem;
    font-size: 1.4rem;
    font-family: 'Poppins';
    }
    
    .form-inscricao {
        display: block;
        color: #fbe179;
        margin-top: 8rem;
        font-family: 'Poppins';
    }

    .formulario {
        margin-top: 5rem;
    }

    .input-texto-form {
        margin-top: 3rem;
    }
    
    .input-texto-form input {
        height: 3rem;
        width: 40rem;
        padding-left: 10px;
        border: 1px solid black;
        margin-top: .1rem;
        font-family: 'Poppins';
        font-size: 1.2rem;
    }

    .input-texto-form select {
        height: 3rem;
        width: 40rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
        font-size: 1.2rem;
    }
    
    .input p {
        width: 9rem !important;
    }
    
    .input-textolargo p {
        width: 17rem;
    }
    
    .input-textolargo input {
        height: 2.3rem;
        width: 19rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    .input-texto-sobrenome input {
        height: 2.3rem;
        width: 19rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    .input-texto-sobrenome p {
        width: 12rem !important;
    }
    
    .input-textolargo select {
        height: 2.3rem;
        width: 20rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    
    .Button a {
        text-decoration: none;
        color: white;
    }
    
    .Button button {
        background-color: #fe5089;
        height: 3.5rem;
        width: 12rem;
        border-radius: 1rem;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        margin-top: 45px;
        margin-bottom: 20px;
        border: none;
        cursor: pointer;
    }

    /* >>>>>tudo abaixo é do ConteudoRound6<<<<< */
    

    .conteudo-imagem-texto-round-6{
        display: flex;
        place-content: center;
    }

    .conteudo-evento-round-6 {
        text-align: center;
    }

    .texto-conteudo-round-6 {
        font-size: 25px;
        margin-top: 5rem;
    }

    .imagens-round-6 {
        margin: 0 2rem 0 2rem;
    }
    
    .imagens-round-6 Image {
        margin-bottom: 10px;
    }
    
    .texto-banner {
        text-align: left;
        position: absolute;
        margin-top: 2.5rem;
        margin-left: 2rem;
        font-weight: 600;
        font-size: 5rem;
    }
    
    .texto-conteudo-round-6 {
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-size: 1.4rem;
    }
    
    .background-color-round-6 {
        background: linear-gradient(to bottom, transparent 10%, #ff417d 100%,  transparent 10%);
    }
    
    .background-limpo {
        background: linear-gradient(to top, transparent 10%, #ff417d 90%);
        height: 90px;
        width: 100%;
        margin-top: -1.1rem;
    
    }

    .conteudo-ohana {
        text-align: center;
    }
    
    .texto-ohana {
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .ohanavisao {
        margin-bottom: 4rem;
    }


}

@media only screen and (max-width: 764px) {

    .header {
        text-align: center;
        padding-top: 10px;
        text-align: center;
    }

    .alinhar-conteudo {
        display: inline-flex;
    }

    .conteudomain {
        padding-top: 10px;
        color: white !important;
        font-family: 'Poppins';
        text-align: center;
    }
    
    .imagemain {
        -webkit-mask-image: linear-gradient(to right, transparent 38%, black 100%);
    }
    
    .conteudomain p {
    text-align: left;
    position: absolute;
    margin-top: 3rem;
    font-weight: 600;
    width: 10rem;
    font-size: 4rem;
    }
    
    .textomain2 {
    margin-top: 4rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    }
    
    .form-inscricao {
        display: block;
        color: #fbe179;
        margin-top: 8rem;
        font-family: 'Poppins';
    }

    .formulario {
        margin-top: 5rem;
    }

    .input-texto-form {
        margin-top: 3rem;
    }
    
    .input-texto-form input {
        height: 3rem;
        width: 30rem;
        padding-left: 10px;
        border: 1px solid black;
        margin-top: .1rem;
        font-family: 'Poppins';
        font-size: 1rem;
    }

    .input-texto-form select {
        height: 3rem;
        width: 30rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
        font-size: 1rem;
    }
    
    .input p {
        width: 9rem !important;
    }
    
    .input-textolargo p {
        width: 17rem;
    }
    
    .input-textolargo input {
        height: 2.3rem;
        width: 30rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    .input-texto-sobrenome input {
        height: 2.3rem;
        width: 19rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    .input-texto-sobrenome p {
        width: 12rem !important;
    }
    
    .input-textolargo select {
        height: 2.3rem;
        width: 20rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    
    .Button a {
        text-decoration: none;
        color: white;
    }
    
    .Button button {
        background-color: #fe5089;
        height: 3.5rem;
        width: 12rem;
        border-radius: 1rem;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        margin-top: 45px;
        margin-bottom: 20px;
        border: none;
        cursor: pointer;
    }

    /* >>>>>tudo abaixo é do ConteudoRound6<<<<< */
    

    .conteudo-imagem-texto-round-6{
        display: flex;
        place-content: center;
    }

    .conteudo-evento-round-6 {
        text-align: center;
    }

    .texto-conteudo-round-6 {
        font-size: 25px;
        margin-top: 5rem;
    }

    .imagens-round-6 {
        margin: 0 2rem 0 2rem;
    }
    
    .imagens-round-6 Image {
        margin-bottom: 10px;
    }
    
    .texto-banner {
        text-align: left;
        position: absolute;
        margin-top: 1.5rem;
        margin-left: 2rem;
        font-weight: 600;
        font-size: 5rem;
    }
    
    .texto-conteudo-round-6 {
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-size: 1.5rem;
    }
    
    .background-color-round-6 {
        background: linear-gradient(to bottom, transparent 10%, #ff417d 100%,  transparent 10%);
    }
    
    .background-limpo {
        background: linear-gradient(to top, transparent 10%, #ff417d 90%);
        height: 90px;
        width: 100%;
        margin-top: -1.1rem;
    
    }

    .conteudo-ohana {
        text-align: center;
    }
    
    .texto-ohana {
        font-size: 1.5rem;
        margin: 4rem 3rem 4rem 3rem;
    }

    .ohanavisao {
        margin-bottom: 4rem;
    }


}

@media only screen and (min-width: 200px) and (max-width: 500px) {

    .header {
        text-align: center;
        padding-top: 10px;
        text-align: center;
    }

    .alinhar-conteudo {
        display: inline-flex;
    }

    .conteudomain {
        padding-top: 10px;
        color: white !important;
        font-family: 'Poppins';
        text-align: center;
    }
    
    .imagemain {
        -webkit-mask-image: linear-gradient(to right, transparent 38%, black 100%);
    }
    
    .conteudomain p {
        text-align: left;
        position: absolute;
        margin-top: 2.5rem;
        font-weight: 600;
        width: 10rem;
        font-size: 2.5rem;
    }
    
    .textomain2 {
    margin-top: 4rem;
    font-size: 1rem;
    font-family: 'Poppins';
    margin: 0 2rem 0 2rem;
    }
    
    .form-inscricao {
        display: block;
        color: #fbe179;
        margin-top: 8rem;
        font-family: 'Poppins';
    }

    .formulario {
        margin-top: 5rem;
    }

    .input-texto-form {
        margin-top: 3rem;
    }
    
    .input-texto-form input {
        height: 6vh;
        width: 45vh;
        padding-left: 10px;
        border: 1px solid black;
        margin-top: .1rem;
        font-family: 'Poppins';
        font-size: 14px;
    }

    .input-texto-form select {
        height: 6vh;
        width: 45vh;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
        font-size: 14px;
    }
    
    .input p {
        width: 9rem !important;
    }
    
    .input-textolargo p {
        width: 17rem;
    }
    
    .input-textolargo input {
        height: 2.3rem;
        width: 19rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    .input-texto-sobrenome input {
        height: 2.3rem;
        width: 19rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    .input-texto-sobrenome p {
        width: 12rem !important;
    }
    
    .input-textolargo select {
        height: 2.3rem;
        width: 20rem;
        padding-left: 10px;
        border: none;
        margin-top: .1rem;
        font-family: 'Poppins';
    }
    
    
    .Button a {
        text-decoration: none;
        color: white;
    }
    
    .Button button {
        background-color: #fe5089;
        height: 3.5rem;
        width: 12rem;
        border-radius: 1rem;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        margin-top: 45px;
        margin-bottom: 20px;
        border: none;
        cursor: pointer;
    }

    /* >>>>>tudo abaixo é do ConteudoRound6<<<<< */
    

    .conteudo-imagem-texto-round-6{
        display: flex;
        place-content: center;
    }

    .conteudo-evento-round-6 {
        text-align: center;
    }

    .texto-conteudo-round-6 {
        font-size: 25px;
        margin-top: 5rem;
    }

    .imagens-round-6 {
        margin: 0 2rem 0 2rem;
    }
    
    .imagens-round-6 Image {
        margin-bottom: 10px;
    }
    
    .texto-banner {
        text-align: left;
        position: absolute;
        margin-top: 3rem;
        font-weight: 600;
        font-size: 2rem;
        margin-left: 1.5rem;
        width: 60%;
    }
    
    .texto-conteudo-round-6 {
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-size: 1rem;
        font-family: 'Poppins';
        margin: 0 2rem 0 2rem;
    }
    
    .background-color-round-6 {
        background: linear-gradient(to bottom, transparent 10%, #ff417d 100%,  transparent 10%);
    }
    
    .background-limpo {
        background: linear-gradient(to top, transparent 10%, #ff417d 90%);
        height: 90px;
        width: 100%;
        margin-top: -1.1rem;
    
    }

    .conteudo-ohana {
        text-align: center;
    }
    
    .texto-ohana {
        font-size: 1.2rem;
        margin: 4rem 3rem 4rem 3rem;
    }

    .ohanavisao {
        margin-bottom: 4rem;
    }


}

